@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    scroll-margin-top: 80px;
}

h1 {
    font-size: 1rem;
}

body {
    font-family: "Quicksand",sans-serif;
    margin: 0;
    padding: 0;
}

header .jumbotron {
    display: inline-block;
    width: 100%;
    height: 506px;
    min-height: 506px;
    margin-inline: auto;
    /* max-width: 1500px; */
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* padding: 20px; */
    /* color: black; */
    background-blend-mode: darken;
}

.navbar-container {
    display: flex;
    justify-content: center;
    /* display: none; */
}

.sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    background: #0A2647;
}

.sticky-mobile {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    background: #0A2647;
}

.mobile {
    display: none;
}

button.menu {
    display: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button.menu img {
    width: 20px;
}

.nav-list ul {
    display: flex;
    gap: 3rem;
    padding-top: 10px;
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a {
    color: #EFF2F5;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 999px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.nav-list li a:hover {
    background-color: #FFFEFE;
    color: #0A2647;
    font-weight: 600;
}

.logo {
    width: 101px;
    height: 150px;
    background-color: #EFF2F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
}

.logo img {
    width: 79.49px;
}

.heading-title {
    text-align: center;
    margin: 75px 0;
}

.heading-title h1 {
    font-size: 40px;
    color: #FFFEFE;
    font-weight: 600;
}

.heading-title p {
    color: #EFF2F5;
    font-size: 22px;
}

main {
    display: flex;
    gap: 1.5rem;
    padding: 20px;
}

#content {
    flex: 3;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

#content img {
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    /* margin-top: 20px; */
}

aside {
    flex: 2;
}

.profile header {
    text-align: center;
}

.profile header p {
    color: #7B8FA1;
}

.profile section {
    text-align: center;
}

.profile ul.social-media {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 0;
}

.profile ul.social-media li {
    list-style-type: none;
    padding: 5px 15px;
}

.profile ul.social-media li a {
    text-decoration: none;
    color: #0A2647;
}

.profile ul.social-media a.facebook-icon i {
    color: #0081C9;
}

.profile ul.social-media a.instagram-icon i {
    color: #A61F69;
}

.profile ul.social-media a.github-icon i {
    color: #567189;
}

.profile header img {
    width: 200px;
    border-radius: 999px;
}

footer {
    padding: 20px;
    color: #FFFEFE;
    background-color: #0A2647;
    text-align: center;
    font-weight: bold;
}

footer span {
    color: #da8824;
}

.thumbnail {
    width: 100%;
    max-height: 333px;
    object-fit: cover;
    object-position: center;
}

.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    z-index:101;
    background-color: #0A2647;
    visibility: hidden;
    opacity: 0;
	transition: opacity 1s, visibility 0s 0.5s;
}

.modal.active {
    overflow-y: hidden;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    margin: 30px;
    cursor: pointer;
}

.close span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background:#EFF2F5;
    transform: rotate(45deg);
}

.close span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #EFF2F5;
    transform: rotate(90deg);
}

.nav-modal {
    /* padding: 30px; */
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 20px;
}

.nav-modal ul {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30vw;
    flex-flow: column;
    padding: 50%;
}

.nav-modal li {
    list-style-type: none;
    font-size: 26px;
    font-weight: bold;
    padding: 30px;
}

.nav-modal a {
    text-decoration: none;
    color: #EFF2F5;
    cursor: pointer;
}

.logo-modal {
    width: 100px;
    filter: invert(1) brightness(100) contrast(10) saturate(0.5);
    margin-inline: auto;
}

.match-container {
    border: 2px solid #B6EADA;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.match-container .match-header h3 {
    text-align: center;
    font-size: 18px;
    color: #00425A;
}

.match-container .match-header p {
    text-align: center;
    font-size: 16px;
    color: #1F8A70;
    font-weight: 600;
}

.match-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.match-content .home-team , .match-content .away-team {
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.match-content .score-match {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

.match-footer {
    text-align: center;
}

.match-footer h4 {
    font-size: 16px;
    font-weight: bolder;
    color: #7286D3;
}

.match-footer p {
    font-size: 14px;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    button.menu { 
        display: block;
    }

    .logo {
        display: flex;
        flex-flow: column nowrap;
    }
    .nav-list {
        display: none;
    }

    .heading-title h1 {
        font-size: 30px;
    }

    .heading-title p {
        font-size: 12px;
    }

    main {
        flex-flow: column nowrap;
    }

    main aside {
        width: 85%;
        align-self: center;
    }

    article.card h2 {
        text-align: center;
    }

    .match-content .home-team h4 {
        font-size: 12px;
    }

    .match-content .home-team img {
        width: 50px;
    }

    .match-content .away-team h4 {
        font-size: 12px;
    }
    
    .match-content .away-team img {
        width: 50px;
    }
    
    .match-content .score-match {
        font-size: 16px;
    }
}
